# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml

# Ignorar todos los YAML/headers menos huerta* y esp32-s3-cam
/proxy.yaml
/proxylora.yaml
/s3proxy.yaml
/s3proxy2.yaml

# Código viejo / descartado
old/
