# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/.esphome/
/secrets.yaml

# Ignorar todos los YAML de la raíz menos huerta* y esp32-s3-cam
/*.yaml
!/huerta*.yaml
!/esp32-s3-cam.yaml

# Código viejo / descartado
old/
